/* PHASE 1: Header */
body{
  font-weight: 400;
  font-size: 14px;
  font-family: "Roboto";

}

header {
  background: red;
}

nav {
  margin: auto;
  background: purple;
  width: 900px;
}

nav h1 {
  float: left;
  background: yellow;
}

nav ul {
  background: blue;
  float: right;
}

.main-nav li {
  float: left;
  background: orange;
}
