/* PHASE 4: Footer */
.footer {
  width: 900px;
  margin: auto;
  background: white;
  color: #aaa;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
}

.copyright {
  /*background: blue;*/
  float: left;
  padding: 20px;
}

.footer-nav {
  float: right;
  padding-right: 10px;
  /*background: red;*/
}

.footer-nav li {
  float: left;
  /*background: pink;*/
  padding: 20px 10px;
}

.footer a:hover {
  color: black;
}
